.container-fluid{
    margin: 0;
    overflow: hidden;
}
.img-home{
    max-height: 30rem;
    border-radius: 10px;
}

.para{
    max-width: 60rem;
    margin: auto;
    word-wrap: break-word;
}

.card{
    box-shadow: 2px 2px 10px black;
    width: 25rem;
}

svg:hover{
    color: crimson;
}